
  <div class="row">
    <div class="col-12">
      <div style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        ">
        <h4 class="m-3" style="font-weight: 700">Murjaatlar ro'yhati</h4>
      </div>
      <div class="card m-b-30">
        <div class="card-body">
          <table id="datatable" class="table table-bordered text-center"
            style="border-collapse: collapse; border-spacing: 0; width: 100%">
            <thead>
              <tr>
                <th>Ism Familya</th>
                <th>Murojaat matni</th>
                <th>Kurs</th>
                <th>elektron pochta</th>
                <th>telefon nomer</th>
                <th>Yaratilgan sana</th>
              </tr>
            </thead>
            <tbody>
              <% for(let item of contact) {%>
                <tr>
                  <td>
                    <%= item.fullname %>
                  </td>
                  <td>
                    <%= item.description %>
                  </td>
                  <td>
                    <%= item.course %>
                  </td>
                  <td>
                    <%= item.email %>
                  </td>
                  <td>
                    <%= item.phone %>
                  </td>
                  <td>
                    <%= item.createdAt.toLocaleString()%>
                  </td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
