
	<div class="all-title-box">
		<div class="container text-center">
			<h1><%= data.phrase[2].teachersID.fullname%><span class="m_1"><%= data.phrase[2].title%></span></h1>
		</div>
	</div>
	
    <div id="overviews" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <p class="lead">Bugun sen dam olayotganingda boshqalar mehnat qilyapdi. Bugun turib o'z ustingda ishlashni boshlamasang, bir kun kelib ular dam oladi sen esa ishlaysan</p>
                </div>
            </div><!-- end title -->

            <hr class="invis">
 
            <div class="row"> 
				<% for(item of data.blog) {%>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="blog-item">
						<div class="image-blog">
							<a href="/blog/<%= item._id%>"><img src="<%= item.image%>" alt="" class="img-fluid"></a>
						</div>
						<div class="meta-info-blog">
							<span><i class="fa fa-calendar"></i> <a href="#"><%= item.createdAt.toDateString().slice(3)%></a> </span>
                            <span><i class="fa fa-tag"></i>  <a href="#">Blogs</a> </span>
                            <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
						</div>
						<div class="blog-title">
							<h2><a href="#" title=""><%= item.name%></a></h2>
						</div>
						<div class="blog-desc">
							<p><%= item.title.split(' ', 20).join(' ').toString()%> ...</p>
						</div>
						<div class="blog-button">
							<a class="hover-btn-new orange" href="#"><span>Read More<span></a>
						</div>
					</div>
					<hr class="invis">
                </div><!-- end col -->
				<% }%>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
