
	<div class="all-title-box">
		<div class="container text-center">
			<h1><%= data.phrase[0].teachersID.fullname%><span class="m_1"><%= data.phrase[0].title%></span></h1>
		</div>
	</div>
	
    <div id="overviews" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <p class="lead">Bugun sen dam olayotganingda boshqalar mehnat qilyapdi. Bugun turib o'z ustingda ishlashni boshlamasang, bir kun kelib ular dam oladi sen esa ishlaysan</p>
                </div>
            </div><!-- end title -->
			
            <hr class="invis"> 
            <div class="row"> 
				<% for(item of data.courses) {%>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="course-item">
						<div  class="image-blog">
							<a href="/course/<%=`${item._id}`%>"><img  src="<%= item.image%>" alt="" class="img-fluid"></a>
						</div>
						<div class="course-br">
							<div class="course-title">
								<h2><a href="/course/<%=`${item._id}`%>" title=""><%= item.name%>></a></h2>
							</div>
							<div class="course-desc">
								<a href="/course/<%=`${item._id}`%>"><p><%= item.description%></p></a>
							</div>
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star-half"></i>								
							</div>
						</div>
						<div class="course-meta-bot">
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i> <%= item.duration%></li>
								<li><i class="fa fa-users" aria-hidden="true"></i> 20 Student</li>
								<li><i class="fa fa-book" aria-hidden="true"></i> <%= item.books%></li>
							</ul>
						</div>
					</div>
                </div><!-- end col -->
				<% }%>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
