
	
	<div id="carouselExampleControls" class="carousel slide bs-slider box-slider" data-ride="carousel" data-pause="hover" data-interval="false" >
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleControls" data-slide-to="1"></li>
			<li data-target="#carouselExampleControls" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active">
				<div id="home" class="first-section" style="background-image:url('<%= data.edu[0].image%>');">
					<div class="dtab">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12 text-right">
									<div class="big-tagline">
										<h2><strong>SmartEDU </strong> <%= data.edu[0].name%></h2>
										<p class="lead"><%= data.edu[0].title%></p>
											<a href="/contact" class="hover-btn-new"><span>Bog'lanish</span></a>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="/blog" class="hover-btn-new"><span>Ko'proq Malumot</span></a>
									</div>
								</div>
							</div><!-- end row -->            
						</div><!-- end container -->
					</div>
				</div><!-- end section -->
			</div>
			<div class="carousel-item">
				<div id="home" class="first-section" style="background-image:url('<%= data.edu[1].image%>');">
					<div class="dtab">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12 text-left">
									<div class="big-tagline">
										<h2 data-animation="animated zoomInRight">SmartEDU <strong> <%= data.edu[1].name%></strong></h2>
										<p class="lead" data-animation="animated fadeInLeft"><%= data.edu[1].title%></p>
											<a href="/contact" class="hover-btn-new"><span>Bog'lanish</span></a>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="/blog" class="hover-btn-new"><span>Ko'proq Malumot</span></a>
									</div>
								</div>
							</div><!-- end row -->            
						</div><!-- end container -->
					</div>
				</div><!-- end section -->
			</div>
			<div class="carousel-item">
				<div id="home" class="first-section" style="background-image:url('<%= data.edu[2].image%>');">
					<div class="dtab">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12 text-center">
									<div class="big-tagline">
										<h2 data-animation="animated zoomInRight"><strong>VPS Servers</strong> <%= data.edu[2].name%></h2>
										<p class="lead" data-animation="animated fadeInLeft"><%= data.edu[2].title%></p>
											<a href="/contact" class="hover-btn-new"><span>Bog'lanish</span></a>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="/blog" class="hover-btn-new"><span>Ko'proq Malumot</span></a>
									</div>
								</div>
							</div><!-- end row -->            
						</div><!-- end container -->
					</div>
				</div><!-- end section -->
			</div>
			<!-- Left Control -->
			<a class="new-effect carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="fa fa-angle-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>

			<!-- Right Control -->
			<a class="new-effect carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="fa fa-angle-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	
    <div id="overviews" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>Bizning Jamoa haqida </h3>
                    <p class="lead">Biz SmartEdu jamoasi ko'p yillardan buyon faoliyat olib borayotgan va ko'plab o'quvchilarni yetishtirib chiqqan Samarqandagi eng yahshi o'quv markazlaridan birimiz. Biz sizni yuqori marralarga chiqishingizga yordam berishga tayyormiz!!!</p>
                </div>
            </div><!-- end title -->
        
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h4>2021 BEST SmartEDU education school</h4>
                        <h2><%= data.aboutlast[0].title%></h2>
                        <p><%= data.aboutlast[0].description%></p>
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="<%= data.aboutlast[0].image%>" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
			</div>
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="<%= data.aboutlast[1].image%>" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h2><%= data.aboutlast[1].title%></h2>
						<p><%= data.aboutlast[1].description%></p>
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <section class="section lb page-section">
		<div class="container">
			 <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>Jamoamiz Tarixi</h3>
                    <p class="lead">Bizning SmartEDU jamoasi 2018-yilda tashkil topib shu vaqtgacha 500+ dan ko'p o'quvchilarga bilim berganmiz</p>
                </div>
            </div><!-- end title -->
			<div class="timeline">
				<div class="timeline__wrap">
					<div class="timeline__items">
						<div class="timeline__item">
							<div class="timeline__content img-bg-01">
								<h2><%= data.aboutlast[0].createdAt.getFullYear()%></h2>
								<p><%= data.about[0].description%>.</p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-02">
								<h2><%= data.aboutlast[1].createdAt.getFullYear()%></h2>
								<p><%= data.aboutlast[1].description%></p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-03">
								<h2><%= data.aboutlast[2].createdAt.getFullYear()%></h2>
								<p><%= data.aboutlast[2].description%></p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-04">
								<h2><%= data.aboutlast[3].createdAt.getFullYear()%></h2>
								<p><%= data.aboutlast[3].description%></p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-01">
								<h2><%= data.aboutlast[4].createdAt.getFullYear()%></h2>
								<p><%= data.aboutlast[4].description%></p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-02">
								<h2><%= data.aboutlast[5].createdAt.getFullYear()%></h2>
								<p><%= data.aboutlast[5].description%></p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-03">
								<h2><%= data.aboutlast[6].createdAt.getFullYear()%></h2>
								<p><%= data.aboutlast[6].description%></p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-04">
								<h2><%= data.aboutlast[7].createdAt.getFullYear()%></h2>
								<p><%= data.aboutlast[7].description%></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="section cl">
		<div class="container">
			<div class="row text-left stat-wrap">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-study"></i></span>
					<p class="stat_count"><%= data.teacher * 15%></p>
					<h3>O'quvchilar</h3>
				</div><!-- end col -->

				<div class="col-md-4 col-sm-4 col-xs-12">
					<span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-online"></i></span>
					<p class="stat_count"><%= data.course%></p>
					<h3>Kurslarimiz</h3>
				</div><!-- end col -->

				<div class="col-md-4 col-sm-4 col-xs-12">
					<span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-years"></i></span>
					<p class="stat_count"><%= data.teacher *50 %></p>
					<h3>Bitiruvchilarimiz</h3>
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end container -->
	</div><!-- end section -->

    
        </div><!-- end container -->
    </div><!-- end section -->
	<div id="testimonials" class="parallax section db parallax-off" style="background-image:url('images/parallax_04.jpg');">
		<div class="container">
			<div class="section-title text-center">
				<h3>Iqtibos</h3>
				<p>Bugun sen dam olayotganingda boshqalar mehnat qilyapdi. Bugun turib o'z ustingda ishlashni boshlamasang, bir kun kelib ular dam oladi sen esa ishlaysan</p>
			</div><!-- end title -->

			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="testi-carousel owl-carousel owl-theme">
						<% for(item of data.phrase) {%>
						<div class="testimonial clearfix">
							<div class="testi-meta">
								<img src="<%= item.teachersID.image%>" alt="" class="img-fluid">
								<h4><%= item.teachersID.fullname%> </h4>
							</div>
							<div class="desc">
								<h3><i class="fa fa-quote-left"></i> Uztozlardan:</h3>
								<p class="lead"><%= item.title%></p>
							</div>
							<!-- end testi-meta -->
						</div>
						<!-- end testimonial -->
						<% }%>
					</div><!-- end carousel -->
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end container -->
	</div><!-- end section -->
