
	<div class="all-title-box">
		<div class="container text-center">
			<h1><%= data.phrase[1].teachersID.fullname%><span class="m_1"><%= data.phrase[1].title%></span></h1>
		</div>
	</div>
	
	<div id="teachers" class="section wb">
        <div class="container">
            <div class="row">
				<% for(item of data.all) {%>
				<div class="col-lg-3 col-md-6 col-12">
					<div class="our-team">
						<div class="team-img">
							<img src="<%= item.image%>">
							<div class="social">
								<ul>
									<li><a href="#" class="fa fa-facebook"></a></li>
									<li><a href="#" class="fa fa-twitter"></a></li>
									<li><a href="#" class="fa fa-linkedin"></a></li>
									<li><a href="#" class="fa fa-skype"></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content">
							<h3 class="title"><%= item.fullname%></h3>
							<span class="post"><%= item.direction%></span>
						</div>
					</div>
				</div>
				<% }%>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->	

   